nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(10, 10, 74);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 22px;
}

.left {
    font-size: 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: blueviolet;
}